.home {
  // color: if((true), red, yellow);
  background-image: url(../images/hero-image.png);
  background-repeat: no-repeat;
  width: 956px;
  height: 900px;
  margin: 0 auto;
  .shutter {
    width: 956px;
    height: 486px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    h1 {
      font-size: 1000;
      color: white;
      padding-top: 30%;
    }
  }
  .features {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: dimgray;
    color: white;
    .timer {
      zoom: 45%;
    }
  }
}